
<h1 id="forgot-pwd-tag">
    Forgot Password
</h1>
<div class="forgot-pwd-form" id="form1">
    <h4 style="font-size: 18px;">Lost your password? Please enter your email address. </h4>
    <br>
    <br>
    <input type="email" id="email" name="email" placeholder="Email"><br>
    <button id="set-email">Submit</button>
    
</div>
<form class="forgot-pwd-form" id="form2">
    <h4 style="font-size: 18px;">Please enter the code that you receive via email. </h4>
    <br>
    <br>
    <input type="hidden" id = 'mail' name="mail">
    <input type="text" id="code" name="code" placeholder="Code"><br>   
    <button id="submit-btn" type="submit">Submit</button>
</form>
<br>
<p id="signup">Don’t have an account? <strong class="custom-link" id="signup">Sign up</strong></p>
