
<h1 id="login-tag">
    Log In
</h1>
<form method="POST" id="sign-in-form">
    <input type="text" id="username" name="email" placeholder="Email"><br>
    
    <input type="password" id="password" name="password" placeholder="Password"><br>
    <p class="custom-link" id="forgot-pwd-text">Forgot password</p>
    <input type="submit" value="Log in">   
</form>
<span class="line"></span>
<div id="another-login-option">
    <img src="images//google.png" alt="">
    <img src="images//twiter.png" alt="">
</div>
<p >Don’t have an account? <strong class="custom-link" id="signup">Sign up</strong></p>
