
            <h1 id="signup-tag">
                Sign up
            </h1>
            <form id="signup-form">
                <h3 style="font-size: 25px;">Only $7 for 7 days</h3>
                <h4 style="font-size: 18px;">You can read and download premium paper</h4>
                <br>
                <br>
                <input type="text" id="card-num" name="card-num" placeholder="Card Number"><br>
                <input type="text" id="expiration" name="expiration" placeholder="Expiration"><br>

                  
                <input type="submit" value="Join now">
                
            </form>
            <br>
            <p id="signup">Already have an account?  <strong class="custom-link" id="login">Log in</strong></p>
      