  
            <h1 id="login-tag">
                Reset Password
            </h1>
            <h4 style="font-size: 18px; display: block; width: 100%;">Please enter a new password</h4>
            <br>    
            <form id="reset-form">
                <input type="password" id="password" name="password" placeholder="Password"><br>
                <input type="password" id="cf-pwd" name="confirm-pwd" placeholder="Confirm Password"><br>
                <br>
                <button id="reset-form-btn" type="submit">  Save Password</button>
            </form>
            
        