<script src="https://www.google.com/recaptcha/api.js" async defer></script>
            <h1 id="signup-tag">
                Sign up
            </h1>
            <form method="POST" id="signup-form">
                <input type="text" id="username" name="email" placeholder="Email"><br>
                <input type="password" id="password" name="password" placeholder="Password"><br>
                <input type="password" id="confirm-pwd" name="confirm-pwd" placeholder="Confirm password"><br>

                <select id="inputState" class="form-select" name="role">
                    <option selected>Choose user's role</option>
                    <option>Subcriber</option>
                    <option>Writer</option>
                    <option>Editor</option>
                    <option>Admin</option>
                </select>
                <div class="g-recaptcha" data-sitekey="6Ld0ac4mAAAAANkeiYU9NyqqJAaxEuh8S6EYzK2a" ></div>
                <br/>
                <input type="submit" value="Sign up">
                
            </form>
            <br>
            <p id="signup">Already have an account?  <strong class="custom-link" id="login">Log in</strong></p>
