
<div class="container my-5">
    <div class="mt-5">
        <div class="header-content mt-5 d-flex justify-content-between">
            <div class="item-cat-tag d-flex">
                <div
                    class="item-category bg-success text-white text-decoration-none rounded-3 my-1 mx-2 d-block px-2">
                    Agricultural
                </div>
                <div class="item-tag my-1">
                    <a class="bg-secondary text-decoration-none text-white rounded-3 mx-1 px-1"
                        href="coffee-tag.html">#coffee
                    </a>
                    <a class="bg-secondary text-decoration-none text-white rounded-3 mx-1 px-1" href="#">#chill
                    </a>
                </div>
            </div>
            <div class="item-date text-end">14, March, 2023</div>
        </div>
        <span class="line mb-4"></span>
        <div class="title-detail h2 text-center"> The Impact of Precision
            Agriculture on
            Crop Yield: A
            Review
            of Current Practices and Future Directions</div>

        <span class="line mt-4"></span>
        <div class="item-author fw-bold text-end">Author: @lmtri-fit-hcmus</div>
        <div class="item-img text-center my-5">
            <img src="images//blog-img/1.png" alt="website template image"
                style="object-fit:cover;">
        </div>
    </div>

    <div class="content">
        <p>Global agriculture has until now experienced two major technological revolutions; that is, the Green
            Revolution and its successor, the Gene Revolution. The term “Green Revolution”
            was coined in 1968 to describe the phenomenal growth in agriculture.(1)
            It involved the application of science to increase agricultural growth, principally through the use
            of breeding techniques to produce high-yield varieties (HYVs). These HYVs, together with the
            increased use of pesticides and fertilizers, improved irrigation, mechanization, and also soil
            conservation by less use of machinery and ultimately resulted in the remarkable growth in
            agriculture experienced.(2) During this period, food production increased significantly,(3,4)
            remarkably for rice in Asia, maize in Mesoamerica and some parts of Africa and Asia, and wheat in
            irrigated and suitable areas all over the world.(2) A combination of highrate investment in
            infrastructure and market development, research, and suitable policies jointly fueled land
            productivity. These factors resulted in higher growth and land values.(5) However, the declining
            trend of agricultural growth in the decades before 1995 constitutes a reduction in growth within
            several high-income countries, particularly in Japan and Western Europe.(6)

        </p>
        <p>

            The use of biotechnology, especially genetic engineering technology, in agriculture to combat food
            insecurity and hunger in turn generated the Gene Revolution.(7−12) The gene
            revolution resulted in the mass production of crops with altered genes generally known as
            “genetically
            modified organisms” (GMOs). These GMOs have genes that have been
            modified using genetic engineering techniques to tolerate pests and herbicides and drought and also
            to
            improve the growth of the plant.
            Although GM technology was promoted as a tool to make a significant change to the overall
            sustainability
            of agricultural food production systems worldwide, some practical evidence has generated conflicting
            outcomes.(13) GM technology is seen by some to have positive effects on biodiversity, since the
            sequencing of genomes provides capacity for selective breeding of crops suited to diverse ecologies.
            This implies that GM technology augments nature’s diversity and also expands adaptive
            capabilities.(14)
            Opponents of GM technology argue that farmers in developing countries, especially small-scale
            farmers,
            have problems that are specific to their economic, cultural, and environmental conditions. Hence,
            the
            spillover from private sector research in developed countries has therefore had limited impact on
            the
            livelihoods of subsistence farmers in developing countries who produce most of the world’s food.(15)
            The
            creation of GM crops may attract investment in agriculture, but it can also concentrate ownership of
            agricultural resources. Hence, it remains questionable whether this branch of science can really
            improve
            the situation of small-scale farmers(3,16) who hold about 500 million small farms and support almost
            2
            billion people—one third of humanity.(17) Consequently, the technology has stimulated of debate over
            its
            ecological, technological, political, socioeconomic, and legal aspects, especially in developing
            countries.(12,59) Hence, it remains questionable whether GM crops can result in a revolution towards
            “agricultural development” and “sustainability” or make only a significant change in “agricultural
            growth.”
        </p>
    </div>
    <div class="comment-content mt-5">
        <span class="mt-5 h5  text-success text-decoration-none">Comment</span>
        <span class="line"></span>
        <div class="a-comment d-flex py-2">
            <img class="img-avatar" src="images//avatar.png" style="width:50px;height:50px;">
            <div class="full-content mx-2 w-100 ">
                <span class="user fw-bold">@lmtri-git</span>
                Great article! I really enjoyed reading about this. One thing I was wondering about was another
                type of coffee. Do you have any thoughts on that?

                <div class="comment-time text-start mt-2">Mar, 14th, 2023</div>
            </div>
        </div>
        <div class="a-comment d-flex py-2">
            <img class="img-avatar" src="images//avatar.png" style="width:50px;height:50px;">
            <div class="full-content mx-2 w-100 ">
                <span class="user fw-bold">@lmtri-user</span>
                Nice!
                <div class="comment-time text-start mt-2">Mar, 16th, 2023</div>
            </div>
        </div>
    </div>

    <div class="same-cat mt-5">
        <span class="mt-5 h5  text-success text-decoration-none">On the same category</span>
        <span class="line"></span>
        <div class="slick-cat">
            <div class="same-cat-item p-3">
                <div class="d-flex mb-3">
                    <img src="images//blog-img/1.png" alt="website template image"
                        style="width:120px;height:120px;object-fit:cover;">
                    <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                        <div class="mb-1" style="font-size:13px;">
                            <div class="same-cat-item-date p-1">14, March, 2023</div>
                            <div class="same-cat-item-category bg-success text-white p-1 rounded-3" href="#">
                                Agricultural
                                </d>
                            </div>
                            <a class="same-cat-item-title m-0 p-1" href="#">The Impact of Precision
                                Agriculture on
                                Crop Yield: A
                                Review
                                of Current Practices and Future Directions
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="same-cat-item p-3">
                <div class="d-flex mb-3">
                    <img src="images//blog-img/1.png" alt="website template image"
                        style="width:120px;height:120px;object-fit:cover;">
                    <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                        <div class="mb-1" style="font-size:13px;">
                            <div class="same-cat-item-date p-1">14, March, 2023</div>
                            <div class="same-cat-item-category bg-success text-white p-1 rounded-3" href="#">
                                Agricultural
                                </d>
                            </div>
                            <a class="same-cat-item-title m-0 p-1" href="#">The Impact of Precision
                                Agriculture on
                                Crop Yield: A
                                Review
                                of Current Practices and Future Directions
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="same-cat-item p-3">
                <div class="d-flex mb-3">
                    <img src="images//blog-img/1.png" alt="website template image"
                        style="width:120px;height:120px;object-fit:cover;">
                    <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                        <div class="mb-1" style="font-size:13px;">
                            <div class="same-cat-item-date p-1">14, March, 2023</div>
                            <div class="same-cat-item-category bg-success text-white p-1 rounded-3" href="#">
                                Agricultural
                                </d>
                            </div>
                            <a class="same-cat-item-title m-0 p-1" href="#">The Impact of Precision
                                Agriculture on
                                Crop Yield: A
                                Review
                                of Current Practices and Future Directions
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="same-cat-item p-3">
                <div class="d-flex mb-3">
                    <img src="images//blog-img/1.png" alt="website template image"
                        style="width:120px;height:120px;object-fit:cover;">
                    <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                        <div class="mb-1" style="font-size:13px;">
                            <div class="same-cat-item-date p-1">14, March, 2023</div>
                            <div class="same-cat-item-category bg-success text-white p-1 rounded-3" href="#">
                                Agricultural
                                </d>
                            </div>
                            <a class="same-cat-item-title m-0 p-1" href="#">The Impact of Precision
                                Agriculture on
                                Crop Yield: A
                                Review
                                of Current Practices and Future Directions
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>