<main>
    <div class="row" id="role-management">
            <div class="option col-2 d-flex px-5 justify-content-center align-items-center">
                <div class="container">
                    <a class="option-to-choose option-link d-block" id="list-user-option"><i class="fa-solid fa-caret-right"
                            style="color: #21ab51;"></i> List user</a>
                    <a class="option-to-choose option-link d-block" id="assign-cat-option">Assign category</a>
                    <a class="option-to-choose option-link d-block" id="renew-acc-option">Renew account</a>
                </div>
                <div class="vertical-line" style="border-left: 1px solid black; height: 100%;"></div>
            </div>
            <div id="view-field mt-5 mb-5" class="col-9 d-flex align-items-center">
                <div id="list-user" class="cate row mt-5 w-100">
                    <div class="user-container col-10 row mb-2">
                        <div class="paper col d-flex align-items-center">
                            <div class="user-avatar" data-toggle="modal" data-target="#user-detail-popup" >
                                <img src="/images/blog-img/1.png" alt="" class="paper-img">
                            </div>
                            <div id="user-detail" style="margin-left: 30px;">
                                <div class="user-name"><h4>Tri Le</h4></div>
                                <div class="user-role">Subcriber</div> 
                            </div>
                        </div>
                    </div>      
                    <br>
                </div>
                <div id="assign-cat" class="cate row w-100">
                    <div class="row">
                        <div class="user-container col-10 row mb-2">
                            <div class="paper col d-flex align-items-center">
                                <div class="user-avatar" data-toggle="modal" data-target="#user-detail-popup">
                                    <img src="../../assets/images/blog-img/1.png" alt="" class="paper-img">
                                </div>
                                <div id="user-detail" style="margin-left: 30px;">
                                    <div class="user-name"><h4>Dung Nguyen</h4></div>
                                    <div class="user-role">Writer</div> 
                                </div>
                            </div>
                        </div>  
                        <div class="assign-btn col-2 dropdown d-flex justify-content-center align-items-center">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="assign-cat-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select an option
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#" data-value="Agricultural">Agricultural</a>
                                <a class="dropdown-item" href="#" data-value="Seafood">Seafood</a>
                              </div>
                        </div>

                    </div>       
                    <br>
                </div>
                <div id="renew-acc" class="cate row w-100">
                    <div class="row">
                        <div class="user-container col-10 row mb-2">
                            <div class="paper col d-flex align-items-center">
                                <div class="user-avatar" >
                                    <img src="../../assets/images/blog-img/1.png" alt="" class="paper-img">
                                </div>
                                <div class="user-detail" style="margin-left: 30px;">
                                    <div class="user-name"><h4>Tri Le</h4></div>
                                    <div class="user-role">Subcriber</div> 
                                    <div id="tmp-expire-day" class="expire-day" style="margin-right: 10px; color: #921C1C; position: absolute; bottom: 0; right: 0;"> Expired </div>
                                </div>
                            </div>
                        </div>  
                        <div class="renew-account-btn col-2 dropdown d-flex justify-content-center align-items-center">
                            <button id="renew-btn" class="w-100">
                                Renew account
                            </button>
                        </div>

                    </div>       
                    <br>
                </div>
            </div>
        </div>
        <div id="overlay-show"></div>
</main>

