<main>
    
    <div class="row" id="cat-tag-management">
        <div class="option col-2 d-flex px-5 justify-content-center align-items-center">
            <div class="container">
                <a class="option-to-choose option-link d-block" id="cate-option"><i class="fa-solid fa-caret-right"
                        style="color: #21ab51;"></i> Category</a>
                <a class="option-to-choose option-link d-block" id="tag-option">Tag</a>
            </div>  
            <div class="vertical-line" style="border-left: 1px solid black; height: 100%;"></div>
        </div>
        <div id="view-field mt-5 mb-5" class="col-9 d-flex align-items-center">
            <div id="cate" class="cate row w-100">
                <div class="category-container row mb-2">
                    <div class="category col d-flex align-items-center">
                        <div class="col-2">
                            <button data-toggle="modal" data-target="#update1" class="cat-btn-agri d-flex justify-content-center align-items-center">Agricultural</button>
                            <div class="modal fade" id="update1" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Update</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <div class="grid-container">
                                                        <div class="cell" style="border-top-left-radius: 10px;"><label for="name">Name:</label></div>
                                                        <div class="cell" style="border-top-right-radius: 10px;"><input type="text" class="form-control" id="cat-name" name="cat-name"></div>
                                                        <div class="cell"><label for="color-picker">Choose a color:</label></div>
                                                        <div class="cell"><input style="width: 100%;" type="color" id="cat-color" name="color-picker"></div>
                                                        <div class="cell" style="border-bottom-left-radius: 10px;"><label for="message">Detail:</label></div>
                                                        <div class="cell" style="border-bottom-right-radius: 10px;"><textarea class="form-control" id="cat-detail" rows="3"></textarea></div>
                                                    </div>   
                                                </div>
                                                <br>
                                                <h5 class="modal-title" >Demo</h5>
                                                <div id="category-demo-field" class="d-inline-flex justify-content-center align-items-center">

                                                </div>
                                                <div class="modal-footer justify-content-center" >  
                                                    <button style="background-color: #9C4444; color: white;" class="btn">Delete</button>
                                                    <button type="submit" class="btn btn-primary">Update</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="col">Includes a wide range of activities such as farming, horticulture, and
                            forestry. Agriculture is an essential industry that provides food for the world's
                            population and supports rural economies around the globe.</p>
                    </div>
                </div>
                <div class="category-container row mb-2">
                    <div class="category col d-flex align-items-center">
                        <div class="col-2">
                            <button data-toggle="modal" data-target="#update2" class="cat-btn-seafood d-flex justify-content-center align-items-center">Seafood</button>
                            <div class="modal fade" id="update2" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Add category</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <div class="grid-container">
                                                        <div class="cell" style="border-top-left-radius: 10px;"><label for="name">Name:</label></div>
                                                        <div class="cell" style="border-top-right-radius: 10px;"><input type="text" class="form-control" id="cat-name" name="cat-name"></div>
                                                        <div class="cell"><label for="color-picker">Choose a color:</label></div>
                                                        <div class="cell"><input style="width: 100%;" type="color" id="cat-color" name="color-picker"></div>
                                                        <div class="cell" style="border-bottom-left-radius: 10px;"><label for="message">Detail:</label></div>
                                                        <div class="cell" style="border-bottom-right-radius: 10px;"><textarea class="form-control" id="cat-detail" rows="3"></textarea></div>
                                                    </div>   
                                                </div>
                                                <br>
                                                <h5 class="modal-title" >Demo</h5>
                                                <div id="category-demo-field" class="d-inline-flex justify-content-center align-items-center">

                                                </div>
                                                <div class="modal-footer justify-content-center" >  
                                                    <button style="background-color: #9C4444; color: white;" class="btn">Delete</button> 
                                                    <button type="submit" class="btn btn-primary">Add</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="col">Includes fish, shellfish, and other aquatic animals. Seafood is an important
                            source of protein and other nutrients for people around the world, particularly in
                            coastal regions</p>
                    </div>
                </div>
                <br>
                <div id="add-cat-form" class="container d-flex justify-content-center">
                    <button type="button" id="add-cat" data-toggle="modal" data-target="#myModal" class="d-flex justify-content-center align-items-center">Add Category</button>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add category</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <div class="grid-container">
                                                <div class="cell" style="border-top-left-radius: 10px;"><label for="name">Name:</label></div>
                                                <div class="cell" style="border-top-right-radius: 10px;"><input type="text" class="form-control" id="cat-name" name="cat-name"></div>
                                                <div class="cell"><label for="color-picker">Choose a color:</label></div>
                                                <div class="cell"><input style="width: 100%;" type="color" id="cat-color" name="color-picker"></div>
                                                <div class="cell" style="border-bottom-left-radius: 10px;"><label for="message">Detail:</label></div>
                                                <div class="cell" style="border-bottom-right-radius: 10px;"><textarea class="form-control" id="cat-detail" rows="3"></textarea></div>
                                            </div>   
                                        </div>
                                        <br>
                                        <h5 class="modal-title" >Demo</h5>
                                        <div id="category-demo-field" class="d-inline-flex justify-content-center align-items-center">

                                        </div>
                                        <div class="modal-footer justify-content-center" >  
                                            <button type="submit" class="btn btn-primary">Add</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="tag" class="tag row w-100">
                <div class="tag-container row mb-2">
                    <div class="tagg col d-flex align-items-center">
                        <button class="tag-btn col-2">#Coffee</button>
                    </div>
                </div>
                <div class="tag-container row mb-2">
                    <div class="tagg col d-flex align-items-center">
                        <button class="tag-btn col-2">#Seafood</button>
                    </div>
                </div>
                <div class="tag-container row mb-2">
                    <div class="tagg col d-flex align-items-center">
                        <button class="tag-btn col-2">#Hot</button>
                    </div>
                </div>
                <br>
                <div id="add-tag-form" class="container d-flex justify-content-center">
                    <button type="button" id="add-tag" data-toggle="modal" data-target="#tagModal">Add Tag</button>
                    <div class="modal fade" id="tagModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add tag</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <div class="grid-container">
                                                <div class="cell" style="border-top-left-radius: 10px;
                                                border-bottom-left-radius: 10px;"><label for="tag-name">Name:</label></div>
                                                <div class="cell" style="border-top-right-radius: 10px;border-bottom-right-radius: 10px;"><input type="text" class="form-control" id="tag-name" name="tag-name"></div>
                                            </div>   
                                        </div>
                                        <br>
                                        <h5 class="modal-title" >Demo</h5>
                                        <div id="tag-demo-field" class="d-inline-flex justify-content-center align-items-center">

                                        </div>
                                        <div class="modal-footer justify-content-center" >  
                                            <button type="submit" class="btn btn-primary">Add</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row" id="paper-management">
        <div class="option col-2 d-flex px-5 justify-content-center align-items-center">
            <div class="container">
                <a class="option-to-choose option-link d-block" id="view-list-option"><i class="fa-solid fa-caret-right"
                        style="color: #21ab51;"></i> List paper</a>
                <a class="option-to-choose option-link d-block" id="list-pending-option">Pending review</a>
            </div>
            <div class="vertical-line" style="border-left: 1px solid black; height: 100%;"></div>
        </div>
        <div id="view-field mt-5 mb-5" class="col-9 d-flex align-items-center">
            <div id="view-list" class="cate row w-100">
                <div class="paper-container row mb-2">
                    <div class="paper col d-flex align-items-center">
                        <div>
                            <img src="images//blog-img/1.png" alt="" class="paper-img">
                        </div>
                        <div id="paper-detail">
                            <div class="paper-title"><h4><a class="title item-title m-0 p-1" href="#">Vietnamese Coffee: A national drink favored by international travelers</a></h4></div>
                            <div class="paper-create-day">14, March, 2023</div>
                            <div class="paper-mini-category d-inline-flex justify-content-center align-items-center">Agriculture</div>
                            <div class="paper-tag-container row mt-1">
                                <div class="paper-mini-tag col-auto d-inline-flex justify-content-center align-items-center">#Coffee</div>
                                <div class="paper-mini-tag col-auto d-inline-flex justify-content-center align-items-center">#Daklak</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="paper-container row mb-2">
                    <div class="paper w-100 d-flex align-items-center">
                        <div>
                            <img src="images//blog-img/1.png" alt="" class="paper-img">
                        </div>
                        <div id="paper-detail">
                            <div class="paper-title"><h4><a class="title item-title m-0 p-1" href="#">The Impact of Precision Agriculture on Crop Yield: A Review of Current Practices and Future Directions</a></h4></div>
                            <div class="paper-create-day">14, March, 2023</div>
                            <div class="paper-mini-category-seafood d-inline-flex justify-content-center align-items-center">Seafood</div>
                            <div class="paper-tag-container row mt-1">
                                <div class="paper-mini-tag col-auto d-inline-flex justify-content-center align-items-center">#Coffee</div>
                                <div class="paper-mini-tag col-auto d-inline-flex justify-content-center align-items-center">#Daklak</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="paper-container row mb-2">
                    <div class="paper col d-flex align-items-center">
                        <div>
                            <img src="images//blog-img/1.png" alt="" class="paper-img">
                        </div>
                        <div id="paper-detail">
                            <div class="paper-title"><h4><div class="paper-title"><h4><a class="title item-title m-0 p-1" href="#">Vietnamese Coffee: A national drink favored by international travelers</a></h4></div></h4></div>
                            <div class="paper-create-day">14, March, 2023</div>
                            <div class="paper-mini-category d-inline-flex justify-content-center align-items-center">Agriculture</div>
                            <div class="paper-tag-container row mt-1">
                                <div class="paper-mini-tag col-auto d-inline-flex justify-content-center align-items-center">#Coffee</div>
                                <div class="paper-mini-tag col-auto d-inline-flex justify-content-center align-items-center">#Hot</div>
                                <div class="paper-mini-tag col-auto d-inline-flex justify-content-center align-items-center">#Farm</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="paper-container row mb-2">
                    <div><img src="images//admin/draft.png" alt="your-image-alt"></div>
                    <div class="paper col d-flex align-items-center">
                        <div>
                            <img src="images//blog-img/1.png" alt="" class="paper-img"> 
                        </div>
                        <div id="paper-detail">
                            <div class="paper-title"><h4><div class="paper-title"><h4><a class="title item-title m-0 p-1" href="#">Vietnamese Coffee: A national drink favored by international travelers</a></h4></div></h4></div>
                            <div class="paper-create-day">14, March, 2023</div>
                            <div class="paper-mini-category d-inline-flex justify-content-center align-items-center">Agriculture</div>
                            <div class="paper-tag-container row mt-1">
                                <div class="paper-mini-tag col-auto d-inline-flex justify-content-center align-items-center">#Coffee</div>
                                <div class="paper-mini-tag col-auto d-inline-flex justify-content-center align-items-center">#Hot</div>
                                <div class="paper-mini-tag col-auto d-inline-flex justify-content-center align-items-center">#Farm</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="paper-container row mb-2">
                    <div class="paper col d-flex align-items-center">
                        <div>
                            <img src="images//blog-img/1.png" alt="" class="paper-img"> 
                        </div>
                        <div id="paper-detail">
                            <div class="paper-title"><h4><div class="paper-title"><h4><a class="title item-title m-0 p-1" href="#">Vietnamese Coffee: A national drink favored by international travelers</a></h4></div></h4></div>
                            <div class="paper-create-day">14, March, 2023</div>
                            <div class="paper-mini-category d-inline-flex justify-content-center align-items-center">Agriculture</div>
                            <div class="paper-tag-container row mt-1">
                                <div class="paper-mini-tag col-auto d-inline-flex justify-content-center align-items-center">#Coffee</div>
                                <div class="paper-mini-tag col-auto d-inline-flex justify-content-center align-items-center">#Hot</div>
                                <div class="paper-mini-tag col-auto d-inline-flex justify-content-center align-items-center">#Farm</div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div id="list-pending" class="cate row w-100">
                <div class="paper-container row mb-2">
                    <div><img src="images//admin/draft.png" alt="your-image-alt"></div>
                    <div class="paper col d-flex align-items-center">
                        <div>
                            <img src="images//blog-img/1.png" alt="" class="paper-img"> 
                        </div>
                        <div id="paper-detail">
                            <div class="paper-title"><h4><div class="paper-title"><h4><a class="review-title item-title m-0 p-1" href="#">Vietnamese Coffee: A national drink favored by international travelers</a></h4></div></h4></div>
                            <div class="paper-create-day">14, March, 2023</div>
                            <div class="paper-mini-category d-inline-flex justify-content-center align-items-center">Agriculture</div>
                            <div class="paper-tag-container row mt-1">
                                <div class="paper-mini-tag col-auto d-inline-flex justify-content-center align-items-center">#Coffee</div>
                                <div class="paper-mini-tag col-auto d-inline-flex justify-content-center align-items-center">#Hot</div>
                                <div class="paper-mini-tag col-auto d-inline-flex justify-content-center align-items-center">#Farm</div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>

    <div class="row" id="role-management">
            <div class="option col-2 d-flex px-5 justify-content-center align-items-center">
                <div class="container">
                    <a class="option-to-choose option-link d-block" id="list-user-option"><i class="fa-solid fa-caret-right"
                            style="color: #21ab51;"></i> List user</a>
                    <a class="option-to-choose option-link d-block" id="assign-cat-option">Assign cagetory</a>
                    <a class="option-to-choose option-link d-block" id="renew-acc-option">Renew account</a>
                </div>
                <div class="vertical-line" style="border-left: 1px solid black; height: 100%;"></div>
            </div>
            <div id="view-field mt-5 mb-5" class="col-9 d-flex align-items-center">
                <div id="list-user" class="cate row mt-5 w-100">
                    <div class="user-container col-10 row mb-2">
                        <div class="paper col d-flex align-items-center">
                            <div class="user-avatar" data-toggle="modal" data-target="#user-detail-popup" >
                                <img src="/images/blog-img/1.png" alt="" class="paper-img">
                            </div>
                            <div id="user-detail" style="margin-left: 30px;">
                                <div class="user-name"><h4>Tri Le</h4></div>
                                <div class="user-role">Subcriber</div> 
                            </div>
                        </div>
                    </div>      
                    <br>
                </div>
                <div id="assign-cat" class="cate row w-100">
                    <div class="row">
                        <div class="user-container col-10 row mb-2">
                            <div class="paper col d-flex align-items-center">
                                <div class="user-avatar" data-toggle="modal" data-target="#user-detail-popup">
                                    <img src="../../assets/images/blog-img/1.png" alt="" class="paper-img">
                                </div>
                                <div id="user-detail" style="margin-left: 30px;">
                                    <div class="user-name"><h4>Dung Nguyen</h4></div>
                                    <div class="user-role">Writer</div> 
                                </div>
                            </div>
                        </div>  
                        <div class="assign-btn col-2 dropdown d-flex justify-content-center align-items-center">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="assign-cat-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select an option
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#" data-value="Agricultural">Agricultural</a>
                                <a class="dropdown-item" href="#" data-value="Seafood">Seafood</a>
                              </div>
                        </div>

                    </div>       
                    <br>
                </div>
                <div id="renew-acc" class="cate row w-100">
                    <div class="row">
                        <div class="user-container col-10 row mb-2">
                            <div class="paper col d-flex align-items-center">
                                <div class="user-avatar" >
                                    <img src="../../assets/images/blog-img/1.png" alt="" class="paper-img">
                                </div>
                                <div class="user-detail" style="margin-left: 30px;">
                                    <div class="user-name"><h4>Tri Le</h4></div>
                                    <div class="user-role">Subcriber</div> 
                                    <div id="tmp-expire-day" class="expire-day" style="margin-right: 10px; color: #921C1C; position: absolute; bottom: 0; right: 0;"> Expired </div>
                                </div>
                            </div>
                        </div>  
                        <div class="renew-account-btn col-2 dropdown d-flex justify-content-center align-items-center">
                            <button id="renew-btn" class="w-100">
                                Renew account
                            </button>
                        </div>

                    </div>       
                    <br>
                </div>
            </div>
        </div>
        <div id="overlay-show"></div>
</main>

