<footer class="footer pt-3">
    <div class="container-fluit bg-light py-3 text-center">
        <div class="social text-center pb-2">
            <a href="#"><i class="bi bi-facebook fs-2 p-1"></i> </a>
            <a href="#"><i class="bi bi-twitter fs-2 p-1 text-info"></i></a>
            <a href="#"><i class="bi bi-instagram fs-2 p-1 text-danger"></i></a>
            <a href="#"><i class="bi bi-youtube fs-2 p-1 text-danger"></i></a>
        </div>
        <div>Copyright &copy; 2023 Group08.com. All rights reserved
        </div>
    </div>
</footer>   