.profile-left img {
    width: 100px;
    border-radius: 50px;
    height: 100px;
}


/* .nav-item-info.active > .nav-link, 
.nav-item-info:hover > .nav-link
{
    color:#357C4D;
} */


#overlay-show{
    display: none;
}

.cards {
    display: none;
}

#add-cards-overlay {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 2;
    width: 600px;
    height: 200px;
    border: 1px solid black;
    border-radius: 20px;
    align-items: center;
}


#background-full {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    z-index: 1;
}

.nav-item-info > .nav-link {
    color: black;
}

.name {
    width: 30%;
}

