.dropdown-item:active{
    background-color:#357C4D;
}

#btn-home {
    background-color:#357C4D;
}


.dropdown-menu[data-bs-popper] {
    top: 96%;
    left: 0;
    margin-top: var(--bs-dropdown-spacer);
}

.btn-login {
    background-color: #939292;
}

.btn-join {
    background-color: #357C4D;
}

.join-login-bar {
    padding-left: 75%;
}

.container-join-login {
    box-shadow: 0px 5px 10px #939292;
}

.dropdown img {
    width: 30px;
}