<main>
    <div class="container my-4">
        <div class="row">
            <div class="profile-left col-2">
                <nav class="navbar">
                    <ul class="nav navbar-nav">
                        <li class="nav-item-info">
                            <di class="nav-link left-item" id="create-new-post-item"
                                style="font-size: 18px; font-weight: 600;">
                                <a href="/writer/" style="text-decoration:none; color:#000000;"> Create a new post</a>
                            </di>
                        </li>
                        <li class="nav-item-info">
                            <div class="nav-link left-item" id="my-paper-item"
                                style="font-size: 18px; font-weight: 600;">
                                <a href="/writer/published" style="text-decoration:none; color:#000000;">My paper</a>
                            </div>
                            <div id="my-paper-body">
                                <div class="nav-link-item p-1 px-2" id="published-item"
                                    style="font-size: 14px; font-weight: 600;">
                                    <a href="/writer/published"
                                        style="text-decoration:none; color:#357C4D;">Published</a>
                                </div>
                                <div class="nav-link-item p-1 px-2" id="accepted-item"
                                    style="font-size: 14px; font-weight: 600;">
                                    <a href="/writer/accepted" style="text-decoration:none; color:#000000;">Accepted</a>
                                </div>
                                <div class="nav-link-item p-1 px-2" id="rejected-item"
                                    style="font-size: 14px; font-weight: 600;">
                                    <a href="/writer/rejected" style="text-decoration:none; color:#000000;">Rejected</a>
                                </div>
                                <div class="nav-link-item p-1 px-2" id="submited-item"
                                    style="font-size: 14px; font-weight: 600;">
                                    <a href="/writer/submitted"
                                        style="text-decoration:none; color:#000000;">Submitted</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="home-right profile col-9 bg-light position-relative" id="published">
                <div class="right-title fs-4 m-3 mb-4"> Published
                    <div class="right-item d-flex align-items-center my-2">
                        <div class="item p-2 d-flex">
                            <div class="d-flex mb-3">
                                <img class="item-img" src="/images/blog-img/1.png" alt="website template image"
                                    style="object-fit:cover;">
                                <div class="w-100 d-flex flex-column bg-light px-3" style="height:180px;">
                                    <div class="mb-1" style="font-size:13px;">
                                        <a class="item-title m-0" href="#" id="title">Vietnamese Coffee: A national
                                            drink
                                            favored by
                                            international travelers
                                        </a>
                                        <div class="item-date">14, March, 2023</div>
                                        <div class="item-tag my-1">
                                            <a class="bg-secondary text-decoration-none text-white rounded-3"
                                                href="#">#coffee
                                            </a>
                                            <a class="bg-secondary text-decoration-none text-white rounded-3"
                                                href="#">#chill
                                            </a>
                                        </div>
                                        <a class="item-category bg-success text-white text-decoration-none rounded-3"
                                            href="#">
                                            Agricultural
                                        </a>
                                        <p class="item-demo mt-2">Vietnamese coffee sector, including measures to
                                            strengthen
                                            value chains, enhance
                                            access to finance and technology, and promote inclusive and
                                            environmentally
                                            friendly
                                            practices. This paper provides insights into the potential of Vietnamese
                                            coffee as a
                                            model of sustainable agriculture and rural development and calls for
                                            further
                                            research and collaboration to unlock its full potential.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="right-item d-flex align-items-center my-2">
                        <div class="item p-2 d-flex">
                            <div class="d-flex mb-3">
                                <img class="item-img" src="/images/blog-img/1.png" alt="website template image"
                                    style="object-fit:cover;">
                                <div class="w-100 d-flex flex-column bg-light px-3" style="height:180px;">
                                    <div class="mb-1" style="font-size:13px;">
                                        <a class="item-title m-0" href="#" id="title">Vietnamese Coffee: A national
                                            drink
                                            favored by
                                            international travelers
                                        </a>
                                        <div class="item-date">14, March, 2023</div>
                                        <div class="item-tag my-1">
                                            <a class="bg-secondary text-decoration-none text-white rounded-3"
                                                href="#">#coffee
                                            </a>
                                            <a class="bg-secondary text-decoration-none text-white rounded-3"
                                                href="#">#chill
                                            </a>
                                        </div>
                                        <a class="item-category bg-success text-white text-decoration-none rounded-3"
                                            href="#">
                                            Agricultural
                                        </a>
                                        <p class="item-demo mt-2">Vietnamese coffee sector, including measures to
                                            strengthen
                                            value chains, enhance
                                            access to finance and technology, and promote inclusive and
                                            environmentally
                                            friendly
                                            practices. This paper provides insights into the potential of Vietnamese
                                            coffee as a
                                            model of sustainable agriculture and rural development and calls for
                                            further
                                            research and collaboration to unlock its full potential.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>