<main>
    <div class="container my-5 mt-5 ">
        <div class="row justify-content-around pt-5">
            <div class="top-3-on-week col-7">
                <div class="top-3 h4 m-1 pb-2 mb-4 text-success">Top 3 on week
                    <span class="line"></span>
                </div>

                <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true"
                            aria-label="First slide"></li>
                        <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
                        <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active position-relative">
                            <img src="/images/blog-img/1.png" class="w-100 d-block" alt="First slide">
                            <div class="carousel-caption">
                                <h5> <a href="#" class="text-decoration-none text-white" id="title">The Impact of
                                        Precision
                                        Agriculture on Crop Yield: A Review of
                                        Current
                                        Practices and Future Directions</a></h5>
                                <p>14, March, 2023</p>
                            </div>
                            <div class="top-3-category position-absolute top-0 start-0 bg-success text-white p-2 rounded-3 m-3 text-centerd"
                                href="#">
                                Agricultural
                                </d>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/images/blog-img/1.png" class="w-100 d-block" alt="Second slide">
                            <div class="carousel-caption">
                                <h5> <a href="#" class="text-decoration-none text-white" id="title">The Impact of
                                        Precision
                                        Agriculture on Crop Yield: A Review of Current Practices and Future
                                        Directions</a></h5>
                                <p>14, March, 2023</p>
                            </div>
                            <div class="top-3-category position-absolute top-0 start-0 bg-success text-white p-2 rounded-3 m-3 text-centerd"
                                href="#">
                                Agricultural
                                </d>
                            </div>

                        </div>
                        <div class="carousel-item">
                            <img src="/images/blog-img/1.png" class="w-100 d-block" alt="Third slide">
                            <div class="carousel-caption">
                                <h5> <a href="#" class="text-decoration-none text-white" id="title">The Impact of
                                        Precision
                                        Agriculture on Crop Yield: A Review of
                                        Current
                                        Practices and Future Directions</a></h5>
                                <p>14, March, 2023</p>
                            </div>
                            <div class="top-3-category position-absolute top-0 start-0 bg-success text-white p-2 rounded-3 m-3 text-centerd"
                                href="#">
                                Agricultural
                                </d>
                            </div>

                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselId"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="top-10 col-4">
                <div class="d-flex justify-content-around pt-2">
                    <span class="top-10-trending h6">Top 10 trending
                    </span>
                    <span class="top-10-newest h6">Top 10 newest
                    </span>
                </div>
                <span class="line mb-5"></span>
                <div class="scroll" id="scroll-style">
                    <div class="top-10-item">
                        <div class="d-flex mb-3">
                            <img src="/images/blog-img/1.png" alt="website template image"
                                style="width:120px;height:120px;object-fit:cover;">
                            <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                                <div class="mb-1" style="font-size:13px;">
                                    <div class="top-10-item-date p-1">14, March, 2023</div>
                                    <div class="top-10-item-category bg-success text-white p-1 rounded-3" href="#">
                                        Agricultural
                                        </d>
                                    </div>
                                    <a class="top-10-item-title m-0 p-1" href="#" id="title">The Impact of Precision
                                        Agriculture on
                                        Crop Yield: A
                                        Review
                                        of Current Practices and Future Directions
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="top-10-item">
                        <div class="d-flex mb-3">
                            <img src="/images/blog-img/1.png" alt="website template image"
                                style="width:120px;height:120px;object-fit:cover;">
                            <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                                <div class="mb-1" style="font-size:13px;">
                                    <span class="top-10-item-date">14, March, 2023</span>
                                    <div class="top-10-item-category bg-success text-white p-1 rounded-3" href="#">
                                        Agricultural
                                        </d>
                                    </div>
                                    <a class="top-10-item-title  m-0" href="#" id="title">The Impact of Precision
                                        Agriculture on
                                        Crop Yield: A
                                        Review
                                        of Current Practices and Future Directions
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="top-10-item">
                        <div class="d-flex mb-3">
                            <img src="/images/blog-img/1.png" alt="website template image"
                                style="width:120px;height:120px;object-fit:cover;">
                            <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                                <div class="mb-1" style="font-size:13px;">
                                    <span class="top-10-item-date">14, March, 2023</span>
                                    <div class="top-10-item-category bg-success text-white p-1 rounded-3" href="#">
                                        Agricultural
                                        </d>
                                    </div>
                                    <a class="top-10-item-title  m-0" href="#" id="title">The Impact of Precision
                                        Agriculture on
                                        Crop Yield: A
                                        Review
                                        of Current Practices and Future Directions
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="top-10-item">
                        <div class="d-flex mb-3">
                            <img src="/images/blog-img/1.png" alt="website template image"
                                style="width:120px;height:120px;object-fit:cover;">
                            <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                                <div class="mb-1" style="font-size:13px;">
                                    <span class="top-10-item-date">14, March, 2023</span>
                                    <div class="top-10-item-category bg-success text-white p-1 rounded-3" href="#">
                                        Agricultural
                                        </d>
                                    </div>
                                    <a class="top-10-item-title  m-0" href="#" id="title">The Impact of Precision
                                        Agriculture on
                                        Crop Yield: A
                                        Review
                                        of Current Practices and Future Directions
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="top-10-item">
                        <div class="d-flex mb-3">
                            <img src="/images/blog-img/1.png" alt="website template image"
                                style="width:120px;height:120px;object-fit:cover;">
                            <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                                <div class="mb-1" style="font-size:13px;">
                                    <span class="top-10-item-date">14, March, 2023</span>
                                    <div class="top-10-item-category bg-success text-white p-1 rounded-3" href="#">
                                        Agricultural
                                        </d>
                                    </div>
                                    <a class="top-10-item-title  m-0" href="#" id="title">The Impact of Precision
                                        Agriculture on
                                        Crop Yield: A
                                        Review
                                        of Current Practices and Future Directions
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="top-10-item">
                        <div class="d-flex mb-3">
                            <img src="/images/blog-img/1.png" alt="website template image"
                                style="width:120px;height:120px;object-fit:cover;">
                            <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                                <div class="mb-1" style="font-size:13px;">
                                    <span class="top-10-item-date">14, March, 2023</span>
                                    <div class="top-10-item-category bg-success text-white p-1 rounded-3" href="#">
                                        Agricultural
                                        </d>
                                    </div>
                                    <a class="top-10-item-title  m-0" href="#" id="title">The Impact of Precision
                                        Agriculture on
                                        Crop Yield: A
                                        Review
                                        of Current Practices and Future Directions
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="top-10-item">
                        <div class="d-flex mb-3">
                            <img src="/images/blog-img/1.png" alt="website template image"
                                style="width:120px;height:120px;object-fit:cover;">
                            <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                                <div class="mb-1" style="font-size:13px;">
                                    <span class="top-10-item-date">14, March, 2023</span>
                                    <div class="top-10-item-category bg-success text-white p-1 rounded-3" href="#">
                                        Agricultural
                                        </d>
                                    </div>
                                    <a class="top-10-item-title  m-0" href="#" id="title">The Impact of Precision
                                        Agriculture on
                                        Crop Yield: A
                                        Review
                                        of Current Practices and Future Directions
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="top-10-item">
                        <div class="d-flex mb-3">
                            <img src="/images/blog-img/1.png" alt="website template image"
                                style="width:120px;height:120px;object-fit:cover;">
                            <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                                <div class="mb-1" style="font-size:13px;">
                                    <span class="top-10-item-date">14, March, 2023</span>
                                    <div class="top-10-item-category bg-success text-white p-1 rounded-3" href="#">
                                        Agricultural
                                        </d>
                                    </div>
                                    <a class="top-10-item-title  m-0" href="#" id="title">The Impact of Precision
                                        Agriculture on
                                        Crop Yield: A
                                        Review
                                        of Current Practices and Future Directions
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="top-10-item">
                        <div class="d-flex mb-3">
                            <img src="/images/blog-img/1.png" alt="website template image"
                                style="width:120px;height:120px;object-fit:cover;">
                            <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                                <div class="mb-1" style="font-size:13px;">
                                    <span class="top-10-item-date">14, March, 2023</span>
                                    <div class="top-10-item-category bg-success text-white p-1 rounded-3" href="#">
                                        Agricultural
                                        </d>
                                    </div>
                                    <a class="top-10-item-title  m-0" href="#" id="title">The Impact of Precision
                                        Agriculture on
                                        Crop Yield: A
                                        Review
                                        of Current Practices and Future Directions
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="top-10-item">
                        <div class="d-flex mb-3">
                            <img src="/images/blog-img/1.png" alt="website template image"
                                style="width:120px;height:120px;object-fit:cover;">
                            <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                                <div class="mb-1" style="font-size:13px;">
                                    <span class="top-10-item-date">14, March, 2023</span>
                                    <div class="top-10-item-category bg-success text-white p-1 rounded-3" href="#">
                                        Agricultural
                                        </d>
                                    </div>
                                    <a class="top-10-item-title  m-0" href="#" id="title">The Impact of Precision
                                        Agriculture on
                                        Crop Yield: A
                                        Review
                                        of Current Practices and Future Directions
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container my-5 mt-5 ">
        <div class="top-3 h4 m-1 pb-2 mb-4 text-success">Top 10 Category
            <span class="line"></span>
        </div>
        <div class="top-10-category m-2">
            <div class="top-10-item p-3">
                <div class="d-flex mb-3">
                    <img src="/images/blog-img/1.png" alt="website template image"
                        style="width:120px;height:120px;object-fit:cover;">
                    <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                        <div class="mb-1" style="font-size:13px;">
                            <div class="top-10-item-date p-1">14, March, 2023</div>
                            <div class="top-10-item-category bg-success text-white p-1 rounded-3" href="#">
                                Agricultural
                                </d>
                            </div>
                            <a class="top-10-item-title m-0 p-1" href="#" id="title">The Impact of Precision
                                Agriculture on
                                Crop Yield: A
                                Review
                                of Current Practices and Future Directions
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-10-item p-3">
                <div class="d-flex mb-3">
                    <img src="/images/blog-img/1.png" alt="website template image"
                        style="width:120px;height:120px;object-fit:cover;">
                    <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                        <div class="mb-1" style="font-size:13px;">
                            <div class="top-10-item-date p-1">14, March, 2023</div>
                            <div class="top-10-item-category bg-success text-white p-1 rounded-3" href="#">
                                Agricultural
                                </d>
                            </div>
                            <a class="top-10-item-title m-0 p-1" href="#" id="title">The Impact of Precision
                                Agriculture on
                                Crop Yield: A
                                Review
                                of Current Practices and Future Directions
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-10-item p-3">
                <div class="d-flex mb-3">
                    <img src="/images/blog-img/1.png" alt="website template image"
                        style="width:120px;height:120px;object-fit:cover;">
                    <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                        <div class="mb-1" style="font-size:13px;">
                            <div class="top-10-item-date p-1">14, March, 2023</div>
                            <div class="top-10-item-category bg-success text-white p-1 rounded-3" href="#">
                                Agricultural
                                </d>
                            </div>
                            <a class="top-10-item-title m-0 p-1" href="#" id="title">The Impact of Precision
                                Agriculture on
                                Crop Yield: A
                                Review
                                of Current Practices and Future Directions
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-10-item p-3">
                <div class="d-flex mb-3">
                    <img src="/images/blog-img/1.png" alt="website template image"
                        style="width:120px;height:120px;object-fit:cover;">
                    <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                        <div class="mb-1" style="font-size:13px;">
                            <div class="top-10-item-date p-1">14, March, 2023</div>
                            <div class="top-10-item-category bg-success text-white p-1 rounded-3" href="#">
                                Agricultural
                                </d>
                            </div>
                            <a class="top-10-item-title m-0 p-1" href="#" id="title">The Impact of Precision
                                Agriculture on
                                Crop Yield: A
                                Review
                                of Current Practices and Future Directions
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-3">
        <div class="top-3 h4 m-1 pb-2 mb-4 text-success">Other Paper
            <span class="line"></span>
        </div>
        <div class="card-body container">
            <div class="row ">
                <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
                    <div class="d-flex ">
                        <img src="/images/blog-img/1.png" alt="" class="img-thumbnail h-100">
                    </div>
                    <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                        <div class="mb-1" style="font-size:13px;">
                            <div class="top-10-item-date p-1">14, March, 2023</div>
                            <div class="top-10-item-category bg-success text-white p-1 rounded-3" href="#">
                                Agricultural
                                </d>
                            </div>
                            <a class="top-10-item-title m-0 p-1" href="#" id="title">The Impact of Precision
                                Agriculture on
                                Crop Yield: A
                                Review
                                of Current Practices and Future Directions
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
                    <div class="d-flex ">
                        <img src="/images/blog-img/1.png" alt="" class="img-thumbnail h-100">
                    </div>
                    <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                        <div class="mb-1" style="font-size:13px;">
                            <div class="top-10-item-date p-1">14, March, 2023</div>
                            <div class="top-10-item-category bg-success text-white p-1 rounded-3" href="#">
                                Agricultural
                                </d>
                            </div>
                            <a class="top-10-item-title m-0 p-1" href="#" id="title">The Impact of Precision
                                Agriculture on
                                Crop Yield: A
                                Review
                                of Current Practices and Future Directions
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
                    <div class="d-flex ">
                        <img src="/images/blog-img/1.png" alt="" class="img-thumbnail h-100">
                    </div>
                    <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                        <div class="mb-1" style="font-size:13px;">
                            <div class="top-10-item-date p-1">14, March, 2023</div>
                            <div class="top-10-item-category bg-success text-white p-1 rounded-3" href="#">
                                Agricultural
                                </d>
                            </div>
                            <a class="top-10-item-title m-0 p-1" href="#" id="title">The Impact of Precision
                                Agriculture on
                                Crop Yield: A
                                Review
                                of Current Practices and Future Directions
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
                    <div class="d-flex ">
                        <img src="/images/blog-img/1.png" alt="" class="img-thumbnail h-100">
                    </div>
                    <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                        <div class="mb-1" style="font-size:13px;">
                            <div class="top-10-item-date p-1">14, March, 2023</div>
                            <div class="top-10-item-category bg-success text-white p-1 rounded-3" href="#">
                                Agricultural
                                </d>
                            </div>
                            <a class="top-10-item-title m-0 p-1" href="#" id="title">The Impact of Precision
                                Agriculture on
                                Crop Yield: A
                                Review
                                of Current Practices and Future Directions
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
                    <div class="d-flex ">
                        <img src="/images/blog-img/1.png" alt="" class="img-thumbnail h-100">
                    </div>
                    <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                        <div class="mb-1" style="font-size:13px;">
                            <div class="top-10-item-date p-1">14, March, 2023</div>
                            <div class="top-10-item-category bg-success text-white p-1 rounded-3" href="#">
                                Agricultural
                                </d>
                            </div>
                            <a class="top-10-item-title m-0 p-1" href="#" id="title">The Impact of Precision
                                Agriculture on
                                Crop Yield: A
                                Review
                                of Current Practices and Future Directions
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
                    <div class="d-flex ">
                        <img src="/images/blog-img/1.png" alt="" class="img-thumbnail h-100">
                    </div>
                    <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                        <div class="mb-1" style="font-size:13px;">
                            <div class="top-10-item-date p-1">14, March, 2023</div>
                            <div class="top-10-item-category bg-success text-white p-1 rounded-3" href="#">
                                Agricultural
                                </d>
                            </div>
                            <a class="top-10-item-title m-0 p-1" href="#" id="title">The Impact of Precision
                                Agriculture on
                                Crop Yield: A
                                Review
                                of Current Practices and Future Directions
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
                    <div class="d-flex ">
                        <img src="/images/blog-img/1.png" alt="" class="img-thumbnail h-100">
                    </div>
                    <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                        <div class="mb-1" style="font-size:13px;">
                            <div class="top-10-item-date p-1">14, March, 2023</div>
                            <div class="top-10-item-category bg-success text-white p-1 rounded-3" href="#">
                                Agricultural
                                </d>
                            </div>
                            <a class="top-10-item-title m-0 p-1" href="#" id="title">The Impact of Precision
                                Agriculture on
                                Crop Yield: A
                                Review
                                of Current Practices and Future Directions
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
                    <div class="d-flex ">
                        <img src="/images/blog-img/1.png" alt="" class="img-thumbnail h-100">
                    </div>
                    <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                        <div class="mb-1" style="font-size:13px;">
                            <div class="top-10-item-date p-1">14, March, 2023</div>
                            <div class="top-10-item-category bg-success text-white p-1 rounded-3" href="#">
                                Agricultural
                                </d>
                            </div>
                            <a class="top-10-item-title m-0 p-1" href="#" id="title">The Impact of Precision
                                Agriculture on
                                Crop Yield: A
                                Review
                                of Current Practices and Future Directions
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>